@import "tailwindcss";

@font-face {
    font-family: 'Inter';
    src: url('../src/assets/fonts/Inter-Regular.woff2') format('woff2'),
        url('../src/assets/fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../src/assets/fonts/Poppins-Regular.woff2') format('woff2'),
        url('../src/assets/fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../src/assets/fonts/Poppins-Bold.woff2') format('woff2'),
        url('../src/assets/fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@theme {
  --color-black: #1B2642;
  --color-blue: #003362;
  --color-white: #FFF;
  --color-gold: #C7A941;
  --color-grey: #ABABAB; 

  --font-inter: 'Inter';
  --font-secondary: 'Poppins';
  --font-secondaryBold: 'Poppins-Bold';

  --text-big: 2.5rem;
  --text-standard: 1.3rem;
  --text-small: 1rem;

}

:root {
  height: 100%;
  font-family: 'Inter';
}

#root {
  height: 100%;
}

